@CHARSET "UTF-8";

td{
	border: 1px solid 1px;
	margin-left :0;
	padding: 5px;
	
}

th{
	border : 1px solid red;
	margin-right: 0;
	padding: 5px;
	width: 150px;
	
}

thead{
	background-color: #CCC;
}

.container{
	
	margin: 0;
	width : 960px;
	background-color: #ffff;
	border : 1px solid red;
}